:root{
    --transparent-blue: #1d0c3cd9;
    --blue: #15172F;
    --red: #FF0000;
    --white: #fff;
    --controls-clr: #1A8FB7;
    --light-purple: #7D40CD;
    --dark-purple: #30216D;
}

::-webkit-scrollbar{
    width: 0.75rem;
}
::-webkit-scrollbar-track{
    background-color: var(--blue);
}
::-webkit-scrollbar-thumb{
    background-color: var(--controls-clr);
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    overflow-x: hidden !important;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    width: 100%;

}

.observer{
    height: 0;
    width: 100%;
}

a:-webkit-any-link{
    text-decoration: none !important;
    color: var(--white) !important;
}

nav{
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100vw !important;
    height: 5rem;
    background-color: var(--transparent-blue);
    animation: nav 0.5s ease-out;
    animation-fill-mode: forwards;
    transform: translateY(-100%);

    transition: height 0.25s ease-in-out;
}

#side_nav{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--transparent-blue);
    z-index: 10;
    clip-path: circle(0% at 100% 0);
    transition: all 0.5s ease-out;
}

#hamburger{
    display: none;
    z-index: 10;
    position: absolute;
    right: 3rem;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

#hamburger span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#hamburger span:first-child
{
  transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

.nav_open span
{
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: #232323;
}
.nav_open span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.nav_open span:nth-last-child(3)
{
  transform: rotate(45deg) translate(0, -1px);
}

.buttons{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.side_btn{
    z-index: 100;
    font-size: 2rem;
    font-weight: 500;
}

@keyframes nav {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}

@keyframes fade-in {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(100%);
    }
}

.nav-box{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.nav-box:nth-of-type(1){
    float: left;
}
.nav-box:nth-of-type(2){
    float: right;
}

.btn{
    transform: scale(0%);
    margin: auto 0;
    font-size: 1.25rem;    
    font-weight: 300;
    cursor: pointer;
}

.logo{
    position: absolute;
    cursor: pointer;
    margin: auto;
    right: 0;
    left: 0;
    transform: scale(0%);
    height: 100%;
    animation: fade-in 0.5s ease-out 0.5s;
    animation-fill-mode: forwards;
}

.btn_nav_1{
    animation: fade-in 0.5s ease-out 0.9s forwards;
}

.btn_nav_2{
    animation: fade-in 0.5s ease-out 1.2s forwards;
}

main{
    padding-top: 17.5rem;
    height: calc(100vh - 17.5rem);
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('img/Background.jpg');
    background-size: cover;

}

#main_title{

    height: fit-content;
    width: fit-content;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 0.25rem;
    margin: 0 auto;
}

main > p{
    width: fit-content;
    margin: -1rem auto 0;
    font-size: 2.45rem;
    font-weight: 300;
}

.btn2{
    cursor: pointer;
    margin: 1.5rem auto;
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.75rem 1.75rem;
    font-size: 1.25rem;
    background-color: var(--transparent-blue);
    font-weight: 300;
    letter-spacing: 0.05rem;
}


#shows{
    height: fit-content !important;
    width: 100%;
    background-color: var(--blue);
    padding: 1rem 0 3rem;
}

#shows_h2{
    margin: 2rem auto 3rem;
    width: fit-content;
    font-weight: 500;
    font-size: 2.25rem;
    letter-spacing: 0.1rem;
}

.swiper{
    width: 100%;
    height: fit-content !important;
    margin: 2rem;

}

.swiper-slide{
    cursor: pointer;
    border-radius: 0.15rem !important;
    padding: 4rem 0;
    background: var(--controls-clr);
    width: 25% !important;
    margin: 0 calc(25% / 6) !important;
    background-size: cover;
}
.swiper-slide:nth-of-type(1){
    background-image: url(img/shows_img_1.png);
}
.swiper-slide:nth-of-type(2){
    background-image: url(img/shows_img_2.png);
}
.swiper-slide:nth-of-type(3){
    background-image: url(img/shows_img_3.png);
}
.swiper-slide:nth-of-type(4){
    background-image: url(img/shows_img_4.png);
}

.swiper-slide > h2{
    font-size: 2.25rem;
    font-weight: 500;
    margin: auto;
    width: fit-content;
    color: var(--blue);

}

.swiper-slide > p{
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0.5rem auto;
    width: fit-content;
    color: var(--dark-purple);
}


.swiper-slide > p,
.swiper-slide > h2{
    transition: transform 0.25s ease;
}

.swiper-slide:hover > p,
.swiper-slide:hover > h2 {
    transform: scale(1.1);
}

.swiper-pagination{ position: relative !important; }

.swiper-pagination-bullet{
    width: 12px !important;
    height: 12px !important;
    background: transparent !important;
    opacity: 1 !important;
    border: solid 1px var(--controls-clr);
    opacity: 0.75 !important;
}
.swiper-pagination-bullet-active{
    width: 14px !important;
    height: 14px !important;
    border: none !important;
    background: var(--controls-clr) !important;
    opacity: 1 !important;
}

.swiper-nav{
    color: var(--controls-clr) !important;
    opacity: 1 !important;
}

.swiper-button-disabled{
    opacity: 0.25 !important;
}

#about{
    background-color: var(--blue);
    position: relative;
    height: fit-content;
}

#about > h1{
    font-weight: 300;
    width: fit-content;
    margin: auto;
    font-size: 2.25rem;
    position: absolute;
    top: 0.75rem;
    left: 0;
    right: 0;
    z-index: 10;
    
}

.section_about{
    padding: 1.75rem 1.75rem 0.75rem;
}

.section_about > *{
    margin: 0;
}

#section_about_1{
    background-color: var(--controls-clr);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 15rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc( (100vh - 3rem) / 2.85);
}
#section_about_2{
    background-color: var(--light-purple);
    margin: -6.1rem 0 -4.75rem ;
    clip-path: polygon(0 0, 100% 25%, 100% 80%, 0 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: calc( (100vh - 3rem) / 2.175);

}
#section_about_3{
    background-color: var(--dark-purple);
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    height: calc( (100vh - 3rem) / 3.75);
}

.content_about{
    width: 50%;
}
#section_about_1 > .content_about{
    transform: translateY(-2.5rem);
}
#section_about_2 > .content_about{
    float: right;
}

.about_sec_title{
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}

.content_about > p{
    width: 90%;
    margin: 0.5rem 0;
    font-weight: 300;
    font-size: 1rem;
}

.img_about{
    opacity: 0.5 !important;
    width: 45%;
}

#img_about_1{
    position: absolute;
    right: -5rem;
    transform: translateY(-2.5rem);
}
#img_about_2{
    position: absolute;

    left: 0 !important;
}

.btn_about{
    background-color: var(--controls-clr);
    border-radius: 0.5rem;
    padding: 1.75rem 2rem;
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
}


#map{
    height: 1000px;
    background-color: var(--blue);
}

@media (max-width: 1000px) {
    .btn{
        font-size: 1rem;
    }
    #main_title{
        font-size: 5rem;
    }
    main > p{
        font-size: 2rem;
    }
    .swiper-slide{
        width: 40% !important;
        margin: 0 calc(20% / 4) !important;
    }
}
@media (max-width: 800px) {
    .btn{
        visibility: hidden;
    }
    .nav_open #side_nav{
        clip-path: circle(150% at 100% 0);
    }
    #hamburger{
        display: unset;
    }
    #main_title{
        font-size: 4rem;
    }
    main > p{
        font-size: 1.75rem;
        text-align: center;
    }
    .btn2{
        font-size: 1rem;
    }
    .swiper-slide{
        width: 80% !important;
        margin: 0 calc(20% / 2) !important;
    }
}
@media (max-width: 600px) {

    #main_title{
        font-size: 3rem;
        letter-spacing: 0.15rem;
    }
    main > p{
        font-size: 1.25rem;
    }
}
@media (max-width: 400px) {

    #main_title{
        font-size: 2.25rem;
        letter-spacing: 0.1rem;
    }
    main > p{
        margin-top: 0.25rem;
        font-size: 1rem;
        letter-spacing: 0.01rem;
    }

}